# Project exclude paths
/.idea/
/.gradle/
/spring-boot-common/build/
/spring-boot-common/out/
/spring-boot-aws-sqs/build/
/spring-boot-aws-sqs/out/
/spring-boot-batch/build/
/spring-boot-batch/out/
/spring-boot-event/build/
/spring-boot-event/out/
/spring-boot-file/build/
/spring-boot-file/out/
/spring-boot-file/uploadFiles/
/spring-boot-jpa/build/
/spring-boot-jpa/out/
/spring-boot-jpa/docker-compose/volumes/
/spring-boot-log/build/
/spring-boot-log/out/
/spring-boot-multidb/build/
/spring-boot-multidb/out/
/spring-boot-oauth2/build/
/spring-boot-oauth2/out/
/spring-boot-oauth2-authorization/build/
/spring-boot-oauth2-authorization/out/
/spring-boot-oauth2-authorization/docker-compose/volumes/
/spring-boot-oauth2-password-authorization/build/
/spring-boot-oauth2-password-authorization/out/
/spring-boot-oauth2-resource/build/
/spring-boot-oauth2-resource/out/
/spring-boot-openfeign/build/
/spring-boot-openfeign/out/
/spring-boot-quartz/build/
/spring-boot-quartz/out/
/spring-boot-rabbitmq/build/
/spring-boot-rabbitmq/out/
/spring-boot-rabbitmq2/build/
/spring-boot-rabbitmq2/out/
/spring-boot-redis/build/
/spring-boot-redis/out/
/spring-boot-restdocs/build/
/spring-boot-restdocs/out/
/spring-boot-websocket/build/
/spring-boot-websocket/out/